# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml
*.iws
*.ipr
out/

# ===============================
# Build tools
# ===============================


# Gradle
.gradle/
build/
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment / secrets
# ===============================
.env
application-local.yml
application-local.properties

# ===============================
# Runtime files
# ===============================
*.pid
*.hprof

